<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" class="css">
    <title>Checkerboard</title>
</head>
<body>
    <h1>Checkerboard</h1>
    <table>
        {% for k in range(0,number2)%}
            <tr>
            {% for i in range(0,number1) %}
                {% if (i+k) % 2 == 0 %}
                    <td style="background-color: {{color1}};" class="color1"></td>
                {% else %}
                    <td style="background-color: {{color2}};" class="color2"></td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>